- content_for(:title_h1, "New Journal for #{@book.title}")

= link_to "Back to #{@book.title} overview", @book

-form_for([@book, @journal]) do |f|
  = f.error_messages
  
  %p
    = f.label :title
    %br
    = f.text_field :title
    
  %p
    = f.submit 'Create'