!!!
%html
  %head
    %title= content_for(:title_tag) || content_for(:titles) || AppConstants::TITLE
    = javascript_include_tag :all
    = stylesheet_link_tag :all
  %body.container_12
    #header.grid_12
      %h1= content_for(:title_h1) || content_for(:titles) || AppConstants::TITLE
      
    #content.grid_10.prefix_1.suffix_1
      = yield(:layout)
    
    #footer.grid_12
      %p Footer